node_modules

venv

metadata.db
*.db-shm
*.db-wal

index.faiss

.DS_Store

data

graphicDesign.drawio

styles.txt

.vscode

.vite

.env
.env.local
.env.development
.env.production

dist

we_server.txt