@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  @apply font-sans bg-abyss text-gray-100;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden; /* Important for 3D canvas */
}

#root {
  width: 100%;
  height: 100vh;
}

/* Custom Scrollbar for Sidebar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #050511;
}

::-webkit-scrollbar-thumb {
  background: #1f2235;
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #2d314d;
}

@layer utilities {
  .shadow-glow {
    box-shadow: 0 0 20px rgba(99, 102, 241, 0.15);
  }
}