@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: dark;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background-color: #02020B; /* abyss-DEFAULT */
  color: #f3f4f6;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  width: 100%;
  height: 100%;
}

/* Elegant Scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #151528; /* abyss-border */
  border-radius: 99px;
}

::-webkit-scrollbar-thumb:hover {
  background: #2d314d;
}

/* Selection */
::selection {
  background: rgba(99, 102, 241, 0.3); /* brand-primary */
  color: white;
}